<div class="row">
    <div class="col-xs-12">
        <img  [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 200px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="button_group " appDropdown>
            <button type="button" class="btn btn_primary_button dropdown_toogle" style="background-color: green;">
                manage recipe <span class="caret">
                </span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">shoppingg list</a></li>
                <li><a href="#">edit recipes</a></li>
                <li><a href="#">delete recipes</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
Ingredients
    </div>
</div>